.gridContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3rem 1fr;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

.search {
  order: 2;
  grid-column-start: 1;
  grid-column-end: span 2;
}

.userDetails {
  order: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @apply gap-3;
}

@media screen(md) {
  .gridContainer {
    grid-template-columns: 3rem 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .search {
    order: 1;
    grid-column-start: unset;
    grid-column-end: unset;
    @apply max-w-96;
  }

  .userDetails {
    order: 1;
  }
}
