.trackRoot {
  height: calc(100svh - 14rem);
  max-height: 732px;
  touch-action: none;

  @apply border-2 p-2 bg-background;
}

.trackGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3rem 3rem;

  @apply gap-2 h-full w-full;
}

.yes {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  @apply bg-green-500 text-lg h-full;
}

.no {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  @apply bg-red-500 text-lg h-full;
}

.description {
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-template-rows: 1fr 1.5rem;

  @apply h-full bg-gray-700/70 px-2;
}

.trackName {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @apply truncate text-lg mb-0;
}

.trackArtist {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @apply truncate text-sm;
}

.trackPreviewButton {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  @apply h-full w-full;
}

.albumArt {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  @apply h-full w-full object-cover;
}
