.trackGrid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3rem 3rem;

  @apply border-2 p-2 bg-background;
  @apply gap-2 h-full w-full;
}

.yes,
.no {
  @apply transition-colors;
}

.yes {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  @apply bg-green-800 text-lg h-full;
}

.no {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  @apply bg-red-900 text-lg h-full;
}

.yes:disabled,
.no:disabled {
  @apply bg-transparent border;
}

.description {
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-template-rows: 1fr 1.5rem;

  @apply h-full bg-gray-700/70 px-2;
}

.trackName {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  @apply truncate text-lg mb-0;
}

.trackArtist {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @apply truncate text-sm;
}

.trackPreviewButton {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  @apply h-full w-full;
}

.albumArt {
  grid-column: 1 / 3;
  grid-row: 1 / 3;

  @apply h-full w-full object-cover;
}
