.root {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 220px 2.25rem 1fr 2.25rem;
  @apply gap-x-3 text-sm max-w-prose relative;
}

.songName {
  grid-column: 1 / 2;
  grid-row: 1;
  @apply truncate;
}

.artist {
  grid-column: 1 / 2;
  grid-row: 2;
  @apply truncate;
}

.searchButton {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  @apply self-center;
}

.lookupText {
  grid-column: 3 / 4;
  grid-row: 1 / span 2;
  @apply self-center truncate;
}

.spotifyTop {
  grid-column: 3 /4;
  grid-row: 1;
  @apply truncate;
}

.spotifyBottom {
  grid-column: 3 /4;
  grid-row: 2;
  @apply truncate;
}

.addButton {
  grid-row: span 2;
  @apply self-center justify-self-center;
}

.added {
  position: absolute;
  grid-column: 2/4;
  grid-row: 1/3;
  @apply bg-black/70 flex justify-center items-center h-full w-full border-2;
}
